<!DOCTYPE html>
<html lang="<%= config.language %>" class="han-init">
<head>
    <%- partial('_partial/head',{cache: true}) %>
</head>
<body>
    <div class="wrapper">
        <%- partial('_partial/header',{cache: true}) %>
        <div class="main">
            <%- body %>
        </div>
        <%- partial('_partial/footer',{cache: true}) %>
    </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js"></script>
</body>
</html>
