<div class="post-wrap archive">
    <!-- <% var last_year = ''; %> -->
    <% page.posts.each(function (post) { %>
        <!-- <% var cur_year = post.date.year(); %>

        <% if(last_year !== cur_year){ %>
            <h3><%- cur_year %></h3>
        <% last_year = cur_year; } %> -->

        <article class="archive-item">
            <div class="post-title-archive"><a class="archive-item-link" href="<%- url_for(post.path) %>"><%= post.title %></a></div>
            <div class="archive-item-date"><%- date(post.date, theme.date_format) %></div>
            <div class="post-excerpt">
                <% if(post.description){ %>
                    <%- post.description %>
                <% } else { %>
                    <% if(post.excerpt){ %>
                        <% let cuthtml=post.excerpt.replace('<p>','') %>
                        <%- cuthtml %>
                    <%}%>
                <%}%>
            </div>
        </article>
    <% }) %>
    <%- partial('_partial/paginator') %>
</div>